.btn-primary {
  background-color: #104572;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #083a58;
}

.btn-secondary {
  background-color: white;
  color: #104572;
  padding: 10px 20px;
  border: 2px solid #104572;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  white-space: nowrap;
}

.btn-secondary:hover {
  background-color: #f4f4f4;
}
