.detail-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.detail-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-input {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: 85%;
}
