.filtertipo-btn-container {
  position: relative;
  display: inline-block;
}

.filtertipo-btn {
  background-color: #104572;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
  margin-left: 20px !important;
  min-width: 90px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filtertipo-btn:hover {
  background-color: #082c4a;
}

.filtertipo-input-container {
  position: absolute;
  width: 300px;
  top: 40px;
  right: 20px;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filtertipo-input {
  width: 180px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .filtertipo-input-container {
    left: 18px;
  }
}
