.asistencia-detalle-container {
  max-width: 800px;
  margin: auto;
  padding: 20px 0px 20px 20px;
}

.asistencia-detalle-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.asistencia-detalle-container .volver-container .btn-secondary {
  font-weight: bold;
  background-color: transparent;
  padding: 8px 20px;
}

.asistencia-detalle-container .volver-container .btn-primary {
  width: auto;
  margin-right: 55px;
}
