.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  gap: 100px;
  padding: 20px;
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-completo {
  width: 350px;
}

.login-form {
  width: 350px;
  padding: 25px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form .btn-primary {
  margin-top: 10px;
}

.register-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.register-link span {
  font-size: 16px;
  color: #104572;
}

.register-link .btn-secondary {
  font-size: 14px;
}

@media (max-width: 900px) {
  .login-container {
    gap: 50px;
  }

  .logo-completo {
    width: 300px;
  }

  .login-form {
    width: 300px;
  }

  .register-link span {
    font-size: 14px;
  }
  
  .register-link .btn-secondary {
    font-size: 14px;
    padding: 8px 18px;
  }
}

@media (max-width: 700px) {
  .login-container {
    flex-direction: column;
    gap: 30px;
  }

  .logo-completo {
    width: 200px;
  }

  .login-form {
    width: 100%;
    max-width: 280px;
  }

  .register-link span {
    font-size: 13px;
  }
  
  .register-link .btn-secondary {
    font-size: 13px;
    padding: 8px 15px;
  }
}
