.usuarios-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.usuarios-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.usuarios-header .filter-btn {
  margin-left: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #104572;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}

.actividades-container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.actividades-container .data-table td:last-child {
  text-align: left !important;
}
